<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pengajuan Kegiatan</title>
</head>
<body style="font-family: poppins, sans-serif;">
    <h2 style="font-weight: bold; text-transform: uppercase;">Pengajuan Bantuan Baru !!!</h2>
    <div style="display: inline-block; margin-bottom: 20px;">
        <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 8px;">
            <p style="margin: 4px; font-family: poppins; text-transform: capitalize; font-weight: bold; font-size: medium;">karang taruna desa waru</p>
        </div>
            <div style="border-bottom: 3px double black; width: calc(100% + 30px); margin-top: 5px; margin-left: -10px;"></div>
    </div>

    <div>
        <table cellpadding="8" cellspacing="0" border="0">
            <tr>
                <td><strong>Nama</strong></td>
                <td>{{ $pengajuan->nama }}</td>
            </tr>
            <tr>
                <td><strong>Alamat</strong></td>
                <td>{{ $pengajuan->alamat }}</td>
            </tr>
            <tr>
                <td><strong>Nomor</strong></td>
                <td>{{ $pengajuan->no_telp }}</td>
            </tr>
            <tr>
                <td><strong>Keperluan</strong></td>
                <td>{{ $pengajuan->keperluan }}</td>
            </tr>
            <tr>
                <td><strong>Tanggal</strong></td>
                <td>{{ \Carbon\Carbon::parse($pengajuan->tanggal)->format('d-m-Y') }}</td>
            </tr>
            <tr>
                <td><strong>Total Anggaran</strong></td>
                <td>Rp {{ number_format($pengajuan->total_anggaran, 0, ',', '.') }}</td>
            </tr>
            <tr>
                <td><strong>Detail Keperluan</strong></td>
                <td>{{ $pengajuan->detail_Keperluan }}</td>
            </tr>
            @if ($pengajuan->file_path)
            <tr>
                <td><strong>File Terlampir</strong></td>
                <td><em>Terlampir dalam email</em></td>
            </tr>
            @endif
        </table>

    </div>


    <p>Silakan cek file terlampir untuk informasi lebih lanjut.</p>

</body>
</html>


    <div class="fixed inset-0 z-[100] flex items-center justify-center bg-[rgba(209,213,219,0.3)]" wire:target="submit" wire:loading >
        <div class="flex justify-center items-center w-full h-full px-4">
            {{-- loading box --}}
            <div class="w-[400px] h-[400px] max-w-[400px] bg-white rounded-md flex flex-col gap-4 justify-center items-center shadow-lg p-6">
                @foreach ($TentangKami as $tk)
                    <div class="w-full flex flex-col gap-4 items-center">
                        <img
                            src="{{ asset('storage/' . $tk->foto_profil) }}"
                            alt="{{ $tk->first_name }} {{ $tk->last_name }}"
                            class="w-[100px] h-[100px] rounded-full object-cover"
                        >
                        <p class="text-center text-black font-bold capitalize font-[poppins]">
                            {{ $tk->first_name }} {{ $tk->last_name }}
                        </p>
                    </div>
                @endforeach

                {{-- loading / success --}}
                <div class="w-full flex flex-col items-center gap-4 mt-4">
                    {{-- Saat loading --}}
                    <div wire:loading wire:target="submit" class="flex flex-col items-center gap-2">
                        <p class="text-center text-black font-medium capitalize font-[poppins]">Loading</p>
                        <div class="loader"></div>
                    </div>

                    {{-- Saat selesai --}}
                    <div 
                        x-data="{ show: false }" 
                        x-on:success-event.window="show = true; setTimeout(() => window.location.reload(), 1500)"
                        x-show="show"
                        class="flex flex-col items-center gap-2"
                    >
                        <p class="text-green-600 font-medium capitalize font-[poppins]">Berhasil</p>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-12 h-12 text-green-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="absolute block top-2 md:left-14 left-8 lg:hidden md:flex z-100">
        <div class="w-full h-full rounded-lg drop-shadow-sm">
            <button type="button" class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium " aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-basic-modal" data-hs-overlay="#hs-basic-modal">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-8 mr-2 text-black">
                    <path fill-rule="evenodd" d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
                </svg>
            </button>
              
              <div id="hs-basic-modal" class="hs-overlay hidden w-full h-[20cm] fixed top-0 start-0 z-[50] overflow-x-hidden overflow-y-auto pointer-events-none" role="dialog" tabindex="-1" aria-labelledby="hs-basic-modal-label">
                <div class="hs-overlay-open:opacity-100 hs-overlay-open:duration-500 opacity-0 transition-all w-full">
                  <div class="flex flex-col bg-gradient-to-b mx-2 md:h-[16.5cm] h-[13.7cm] from-[#048DD1] to-[#226786] border shadow-sm rounded-xl pointer-events-auto border-black dark:border-white shadow-neutral-700/70 dark:shadow-neutral-700/70">
                    <div class="grid grid-cols-3 w-full items-center py-3 px-4 border-b dark:border-white">
                        <div class="col-span-1">
                            <h3 id="hs-basic-modal-label" class="font-bold text-white">
                            <p class="text-lg uppercase">Menu</p>
                            </h3>

                        </div>
                      <div class="flex col-span-2 justify-end items-center gap-4">
                        <button type="button" class="hs-dark-mode hs-dark-mode-active:hidden inline-flex items-center gap-x-2 py-2 px-3 bg-white/10 rounded-xl text-sm text-white hover:bg-white/20 focus:outline-none focus:bg-white/20" data-hs-theme-click-value="dark">
                            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
                            </svg>
                                Dark
                            </button>
                            <button type="button" class="hs-dark-mode hs-dark-mode-active:inline-flex hidden items-center gap-x-2 py-2 px-3 bg-white/10 rounded-full text-sm text-white hover:bg-white/20 focus:outline-none focus:bg-white/20" data-hs-theme-click-value="light">
                                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="4"></circle>
                                <path d="M12 2v2"></path>
                                <path d="M12 20v2"></path>
                                <path d="m4.93 4.93 1.41 1.41"></path>
                                <path d="m17.66 17.66 1.41 1.41"></path>
                                <path d="M2 12h2"></path>
                                <path d="M20 12h2"></path>
                                <path d="m6.34 17.66-1.41 1.41"></path>
                                <path d="m19.07 4.93-1.41 1.41"></path>
                                </svg>
                                Light
                        </button>

                        <button type="button" class="flex justify-center items-center size-7 text-sm font-semibold rounded-full border border-transparent text-white" aria-label="Close" data-hs-overlay="#hs-basic-modal">
                        <span class="sr-only">Close</span>
                        <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M18 6 6 18"></path>
                            <path d="m6 6 12 12"></path>
                        </svg>
                        </button>

                      </div>
                    </div>
                    <div class="pt-4 overflow-y-auto mx-2">
                        <div class="flex mb-3 w-full">
                            <a href="" class="grid grid-cols-4 w-full items-center h-10 rounded-lg focus:bg-[#F7AE47] hover:bg-[#F7AE47]">
                                <div class="flex col-span-3 text-center items-center gap-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-house-fill text-white ml-2" viewBox="0 0 16 16">
                                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                                        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                                    </svg>
                                    <p class="text-md font-arimo capitalize font-bold text-white hover:text-gray-600">Beranda</p>

                                </div>
                            </a>
                        </div>
                        <div class="w-full">
                            <div class="hs-accordion-group">

                                {{-- Absensi --}}
                                <div class="hs-accordion mb-3 rounded-lg " id="hs-basic-heading-2">
                                    <button class="hs-accordion-toggle grid grid-cols-4 h-10 items-center text-sm w-full font-semibold text-start focus:bg-[#F7AE47] hover:bg-[#F7AE47] text-white rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-collapse-2">
                                        <div class="flex col-span-3 ml-2 items-center gap-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                            </svg>
    
                                            <p class="text-md font-arimo capitalize font-bold text-white">Kehadiran</p>

                                        </div>
                                        <div class="col-span-1">
                                            <svg class="bi bi-caret-left-fill w-full hs-accordion-active:hidden block size-5 text-white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                            </svg>
    
                                            <svg class="bi bi-caret-down-fill w-full hs-accordion-active:block hidden size-5 text-white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                            </svg>

                                        </div>

                                    </button>
                                    <div id="hs-basic-collapse-1" class="hs-accordion-content hidden w-full mt-1 overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-heading-two">
                                        <div class="flex items-center gap-2">
                                            <p class="text-white dark:text-neutral-200 w-full">
                                                <a class="block text-sm font-arimo capitalize font-bold mb-1 rounded-md pl-[50px] active:bg-[#F7AE47] hover:bg-[#F7AE47] hover:text-gray-600" href="">Presensi</a>
                                                <a class="block text-sm font-arimo capitalize font-bold mb-1 rounded-md pl-[50px] active:bg-[#F7AE47] hover:bg-[#F7AE47] hover:text-gray-600" href="">Permohonan Izin/Cuti</a>
                                                {{-- @if (auth()->user()->hasRole('admin')) --}}
                                                <a class="block text-sm font-arimo capitalize font-bold mb-1 rounded-md pl-[50px] active:bg-[#F7AE47] hover:bg-[#F7AE47] hover:text-gray-600" href="">Presensi Karyawan</a>    
                                                {{-- @endif --}}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                {{-- End Absensi --}}
                                
                                {{-- Kegiatan --}}
                                {{-- @if (auth()->user()->hasRole('pegawai'))  --}}
                                <div class="hs-accordion mb-3 rounded-lg" id="hs-basic-heading-2">
                                    <button class="hs-accordion-toggle grid grid-cols-4 h-10 items-center text-sm w-full font-semibold text-start focus:bg-[#F7AE47] hover:bg-[#F7AE47] text-white rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-collapse-2">
                                        <div class="flex col-span-3 ml-2 items-center gap-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                                                <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
                                                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"/>
                                                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"/>
                                                </svg>
    
                                            <p class="text-md font-arimo capitalize font-bold text-white">Kegiatan</p>
                                        </div>
                                        
                                        <div class="col-span-1">
                                            <svg class="bi bi-caret-left-fill w-full hs-accordion-active:hidden block size-5 text-white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                            </svg>
    
                                            <svg class="bi bi-caret-down-fill w-full hs-accordion-active:block hidden size-5 text-white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                            </svg>
                                        </div>
                                    </button>
                                    <div id="hs-basic-collapse-2" class="hs-accordion-content hidden w-full rounded-lg mt-1 overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-heading-two">
                                    <div class="flex items-center gap-2">
                                        <p class="text-white dark:text-neutral-200 w-full">
                                            <a class="block text-sm font-arimo capitalize font-bold mb-1 rounded-md pl-[50px] active:bg-[#F7AE47] hover:bg-[#F7AE47] hover:text-gray-600" href="">Kegiatan Harian</a>
                                            <a class="block text-sm font-arimo capitalize font-bold mb-1 rounded-md pl-[50px] active:bg-[#F7AE47] hover:bg-[#F7AE47] hover:text-gray-600" href="">Kegiatan Dinas</a>
                                            <a class="block text-sm font-arimo capitalize font-bold mb-1 rounded-md pl-[50px] active:bg-[#F7AE47] hover:bg-[#F7AE47] hover:text-gray-600" href="">Kegiatan Rapat</a>
                                        </p>
                                    </div>
                                    </div>
                                </div>
                                {{-- @endif --}}
                                {{-- End Kegiatan --}}

                                {{-- Laporan --}}
                                <div class="hs-accordion mb-3 rounded-lg" id="hs-basic-heading-3">
                                    <button class="hs-accordion-toggle grid grid-cols-4 h-10 items-center text-sm w-full font-semibold text-start focus:bg-[#F7AE47] hover:bg-[#F7AE47] text-white rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-collapse-3">
                                        <div class="flex col-span-3 ml-2 items-center gap-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-database-fill" viewBox="0 0 16 16">
                                                <path d="M3.904 1.777C4.978 1.289 6.427 1 8 1s3.022.289 4.096.777C13.125 2.245 14 2.993 14 4s-.875 1.755-1.904 2.223C11.022 6.711 9.573 7 8 7s-3.022-.289-4.096-.777C2.875 5.755 2 5.007 2 4s.875-1.755 1.904-2.223"/>
                                                <path d="M2 6.161V7c0 1.007.875 1.755 1.904 2.223C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777C13.125 8.755 14 8.007 14 7v-.839c-.457.432-1.004.751-1.49.972C11.278 7.693 9.682 8 8 8s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"/>
                                                <path d="M2 9.161V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13s3.022-.289 4.096-.777C13.125 11.755 14 11.007 14 10v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"/>
                                                <path d="M2 12.161V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972"/>
                                                </svg>
    
                                            <p class="text-md font-arimo capitalize font-bold text-white">Laporan</p>
                                        </div>
                                        
                                        <div class="col-span-1">
                                            <svg class="bi bi-caret-left-fill w-full hs-accordion-active:hidden block size-5 text-white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                            </svg>
    
                                            <svg class="bi bi-caret-down-fill w-full hs-accordion-active:block hidden size-5 text-white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                            </svg>
                                        </div>
                                    </button>
                                    <div id="hs-basic-collapse-3" class="hs-accordion-content hidden w-full rounded-lg mt-1 overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-heading-two">
                                    <div class="flex items-center gap-2">
                                        <p class="text-white dark:text-neutral-200 w-full">
                                            <a class="block text-sm font-arimo capitalize font-bold mb-1 rounded-md pl-[50px] active:bg-[#F7AE47] hover:bg-[#F7AE47] hover:text-gray-600" href="#">Lapoeran Absen</a>
                                            <a class="block text-sm font-arimo capitalize font-bold mb-1 rounded-md pl-[50px] active:bg-[#F7AE47] hover:bg-[#F7AE47] hover:text-gray-600" href="">Lapoeran Harian</a>
                                            <a class="block text-sm font-arimo capitalize font-bold mb-1 rounded-md pl-[50px] active:bg-[#F7AE47] hover:bg-[#F7AE47] hover:text-gray-600" href="#">Lapoeran Dinas</a>
                                            <a class="block text-sm font-arimo capitalize font-bold mb-1 rounded-md pl-[50px] active:bg-[#F7AE47] hover:bg-[#F7AE47] hover:text-gray-600" href="#">Lapoeran Rapat</a>
                                        </p>
                                    </div>
                                    </div>
                                </div>
                                {{-- End Laporan --}}
                                {{-- @if (auth()->user()->hasRole('admin')) --}}
                                    {{-- Management karyawan --}}
                                <div class="hs-accordion mb-5 rounded-lg " id="hs-basic-heading-4">
                                    <button class="hs-accordion-toggle grid grid-cols-4 hs-accordion-active:text-blue-600 h-10 items-center text-sm w-full font-semibold text-start focus:bg-[#F7AE47] hover:bg-[#F7AE47] text-white hover:text-gray-500 focus:outline-none focus:text-gray-500 rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:hs-accordion-active:text-blue-500 dark:text-neutral-200 dark:hover:text-neutral-400 dark:focus:text-neutral-400" aria-expanded="false" aria-controls="hs-basic-collapse-4">
                                        <div class="flex col-span-3 ml-2 items-center gap-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 -960 960 960" width="24px" fill="#e8eaed" class="text-white" >
                                                <path d="M400-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM80-160v-112q0-33 17-62t47-44q51-26 115-44t141-18h14q6 0 12 2-8 18-13.5 37.5T404-360h-4q-71 0-127.5 18T180-306q-9 5-14.5 14t-5.5 20v32h252q6 21 16 41.5t22 38.5H80Zm560 40-12-60q-12-5-22.5-10.5T584-204l-58 18-40-68 46-40q-2-14-2-26t2-26l-46-40 40-68 58 18q11-8 21.5-13.5T628-460l12-60h80l12 60q12 5 22.5 11t21.5 15l58-20 40 70-46 40q2 12 2 25t-2 25l46 40-40 68-58-18q-11 8-21.5 13.5T732-180l-12 60h-80Zm40-120q33 0 56.5-23.5T760-320q0-33-23.5-56.5T680-400q-33 0-56.5 23.5T600-320q0 33 23.5 56.5T680-240ZM400-560q33 0 56.5-23.5T480-640q0-33-23.5-56.5T400-720q-33 0-56.5 23.5T320-640q0 33 23.5 56.5T400-560Zm0-80Zm12 400Z"/>
                                            </svg>
    
                                            <p class="text-md font-arimo capitalize font-bold text-white">Kelola Pengguna</p>
                                        </div>
                                        
                                        <div class="col-span-1">
                                            <svg class="bi bi-caret-left-fill w-full hs-accordion-active:hidden block size-5 text-white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                                            </svg>
    
                                            <svg class="bi bi-caret-down-fill w-full hs-accordion-active:block hidden size-5 text-white" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                            </svg>
                                        </div>
                                    </button>
                                    <div id="hs-basic-collapse-4" class="hs-accordion-content hidden w-full mt-1 rounded-lg overflow-hidden transition-[height] duration-300" role="region" aria-labelledby="hs-basic-heading-two">
                                    <div class="flex items-center gap-2">
                                        <p class="text-white dark:text-neutral-200 w-full">
                                            <a class="block text-sm font-arimo capitalize font-bold rounded-md pl-[50px] active:bg-[#F7AE47] hover:bg-[#F7AE47] hover:text-gray-600" href="">Data Karyawan</a>
                                            <a class="block text-sm font-arimo capitalize font-bold rounded-md pl-[50px] active:bg-[#F7AE47] hover:bg-[#F7AE47] hover:text-gray-600" href="">Buat Akun</a>
                                        </p>
                                    </div>
                                    </div>
                                </div>
                                {{-- End Management karyawan --}}
                                {{-- @endif --}}
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>


                <div class="hs-dropdown relative inline-flex">
                    <button type="button" class="hs-dropdown-toggle w-full p-2 flex items-center font-serif text-white  hover:text-yellow-400 focus:outline-none text-sm">
                        Listrik
                    </button>
            
                    <div class="text-start hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 w-44 hidden z-10 mt-2 min-w-20 bg-gradient-to-r from-[#0f225c] to-[#3481f4] text-white pl-2 rounded-md" role="menu" aria-labelledby="hs-dropdown-unstyled">
                        <div class="p-1 space-y-1">
                            <a href="{{ route('cek-tagihan') }}" class="block p-2 text-sm text-white hover:text-yellow-400">
                                Tagihan Listrik
                            </a>
                            {{-- <a href="#" class="block p-2 text-sm text-white hover:text-yellow-400">
                                Pemerintahan Desa
                            </a> --}}
                        </div>
                    </div>
                </div>